.passwordListContainer {
  padding: 20px;
  background-color: rgba(13, 27, 42, 0.9);
  color: white;
  position: absolute;
  top: 20px;
  right: 0; /* Aligns container to the right */
  width: 100%; /* Default to full width on small screens */
  max-width: 1200px; /* Limit the width on larger screens */
  transition: all 0.3s ease; /* Smooth resizing transition */
  margin-top: 80px;
}

.card {
  background-color: #333;
  color: white;
  border-radius: 8px;
  text-align: center;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.addButton {
  background-color: #ff5722;
  color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.addButton:hover {
  background-color: #e64a19;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    margin-bottom: 10px;
  }

  .card {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .passwordListContainer {
    width: 700px;
    margin-top: 80px;
    margin-right: 40px;
  }
}

@media (min-width: 1440px) {
  .passwordListContainer {
    width: 1200px;
  }
}
